<style>
    .nav {
        height: 80px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-end;
    }
</style>

<div class="nav">

    <button class="btn btn-primary" onclick="logout()" style="text-decoration: none;">Logout</button>

</div>